.barra{
    background: rgb(250, 240, 151) !important;
}

.letra{
    color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 23px !important;
}

.bloquetitulo1{
    background: rgb(250, 240, 151) !important;
    text-align: center !important;
    font-size: 30px !important;
    padding-top: 30px !important; 
}

.parrafo1{
    background: rgb(250, 240, 151) !important;
    text-align: center !important;
    font-size: 20px !important;
    padding-top: 30px !important;
}

.imagen11{
    background: rgb(250, 240, 151) !important;
    text-align: center;
    padding-block: 60px !important;
    padding-top: 40px !important;
    margin-right: -50px !important;   
}

.video2{
    background: white !important;
    text-align: center !important; 
    padding-top: 70px !important;
}

.parrafo2{
    background: white !important;
    font-size: 20px !important;
    padding-block: 30px !important;
    padding-top: 40px !important;
}

.bloquetitulo2{
    width: 100%;
    display: inline-block;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(250, 240, 151);
    background-attachment: fixed;
}

.parrafotitulo3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    padding-block: 45px;
}

.iconosredes{
    text-align: center;
    background-color: rgb(250, 240, 151);
}

.ajusteicono{
    margin: 50px 35px;
    display: inline-flex; 
}

.textofooter{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 15px;
    background-color: white;
    height: 50px;
    padding-top: 0px;
    padding-block: 0px;
}